USE [linkedinDWH]
GO
/****** Object:  Schema [DWH]    Script Date: 10.02.2026 17:16:15 ******/
CREATE SCHEMA [DWH]
GO
/****** Object:  Table [DWH].[bridge_posting_industry]    Script Date: 10.02.2026 17:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[bridge_posting_industry](
	[posting_key] [bigint] NOT NULL,
	[industry_key] [int] NOT NULL,
 CONSTRAINT [PK__bridge_p__23C4CFFEC184250E] PRIMARY KEY CLUSTERED 
(
	[posting_key] ASC,
	[industry_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[bridge_posting_skill]    Script Date: 10.02.2026 17:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[bridge_posting_skill](
	[posting_key] [bigint] NOT NULL,
	[skill_key] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__bridge_p__B7B711EA76002226] PRIMARY KEY CLUSTERED 
(
	[posting_key] ASC,
	[skill_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[dim_company]    Script Date: 10.02.2026 17:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[dim_company](
	[company_key] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[company_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[dim_date]    Script Date: 10.02.2026 17:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[dim_date](
	[date_key] [int] NOT NULL,
	[DayOfWeek] [nvarchar](15) NULL,
	[MonthNumber] [int] NULL,
	[YearNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[date_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[dim_industry]    Script Date: 10.02.2026 17:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[dim_industry](
	[industry_key] [int] IDENTITY(1,1) NOT NULL,
	[industry_name] [nvarchar](100) NULL,
 CONSTRAINT [PK__dim_indu__36519F1EB7848F89] PRIMARY KEY CLUSTERED 
(
	[industry_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__dim_indu__AD421B98F9156659] UNIQUE NONCLUSTERED 
(
	[industry_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[dim_region]    Script Date: 10.02.2026 17:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[dim_region](
	[region_key] [int] IDENTITY(1,1) NOT NULL,
	[country] [nvarchar](100) NULL,
	[state] [nvarchar](100) NULL,
	[city] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[region_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dim_location] UNIQUE NONCLUSTERED 
(
	[country] ASC,
	[state] ASC,
	[city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[dim_salary]    Script Date: 10.02.2026 17:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[dim_salary](
	[salary_level_key] [int] IDENTITY(1,1) NOT NULL,
	[level_name] [nvarchar](50) NOT NULL,
	[min_salary] [decimal](12, 2) NOT NULL,
	[max_salary] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[salary_level_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[dim_skill]    Script Date: 10.02.2026 17:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[dim_skill](
	[skill_key] [nvarchar](10) NOT NULL,
	[skill_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[skill_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[skill_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[fact_posting]    Script Date: 10.02.2026 17:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[fact_posting](
	[posting_key] [bigint] NOT NULL,
	[company_key] [bigint] NOT NULL,
	[date_key] [int] NOT NULL,
	[region_key] [int] NOT NULL,
	[salary_key] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[posting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[bridge_posting_industry]  WITH CHECK ADD  CONSTRAINT [FK__bridge_po__indus__7FEAFD3E] FOREIGN KEY([industry_key])
REFERENCES [DWH].[dim_industry] ([industry_key])
GO
ALTER TABLE [DWH].[bridge_posting_industry] CHECK CONSTRAINT [FK__bridge_po__indus__7FEAFD3E]
GO
ALTER TABLE [DWH].[bridge_posting_industry]  WITH CHECK ADD  CONSTRAINT [FK_bridge_posting_industry_bridge_posting_industry] FOREIGN KEY([posting_key])
REFERENCES [DWH].[fact_posting] ([posting_key])
GO
ALTER TABLE [DWH].[bridge_posting_industry] CHECK CONSTRAINT [FK_bridge_posting_industry_bridge_posting_industry]
GO
ALTER TABLE [DWH].[bridge_posting_skill]  WITH CHECK ADD  CONSTRAINT [FK__bridge_po__skill__13F1F5EB] FOREIGN KEY([skill_key])
REFERENCES [DWH].[dim_skill] ([skill_key])
GO
ALTER TABLE [DWH].[bridge_posting_skill] CHECK CONSTRAINT [FK__bridge_po__skill__13F1F5EB]
GO
ALTER TABLE [DWH].[bridge_posting_skill]  WITH CHECK ADD  CONSTRAINT [FK_bridge_posting_skill_fact_posting] FOREIGN KEY([posting_key])
REFERENCES [DWH].[fact_posting] ([posting_key])
GO
ALTER TABLE [DWH].[bridge_posting_skill] CHECK CONSTRAINT [FK_bridge_posting_skill_fact_posting]
GO
ALTER TABLE [DWH].[fact_posting]  WITH CHECK ADD  CONSTRAINT [FK_fact_company] FOREIGN KEY([company_key])
REFERENCES [DWH].[dim_company] ([company_key])
GO
ALTER TABLE [DWH].[fact_posting] CHECK CONSTRAINT [FK_fact_company]
GO
ALTER TABLE [DWH].[fact_posting]  WITH CHECK ADD  CONSTRAINT [FK_fact_date] FOREIGN KEY([date_key])
REFERENCES [DWH].[dim_date] ([date_key])
GO
ALTER TABLE [DWH].[fact_posting] CHECK CONSTRAINT [FK_fact_date]
GO
ALTER TABLE [DWH].[fact_posting]  WITH CHECK ADD  CONSTRAINT [FK_fact_region] FOREIGN KEY([region_key])
REFERENCES [DWH].[dim_region] ([region_key])
GO
ALTER TABLE [DWH].[fact_posting] CHECK CONSTRAINT [FK_fact_region]
GO
ALTER TABLE [DWH].[fact_posting]  WITH CHECK ADD  CONSTRAINT [FK_fact_salary] FOREIGN KEY([salary_key])
REFERENCES [DWH].[dim_salary] ([salary_level_key])
GO
ALTER TABLE [DWH].[fact_posting] CHECK CONSTRAINT [FK_fact_salary]
GO
